DEPLOYER_KEY=
STUDIO_DEV_RPC=https://studio-dev.genlayer.com/api
STUDIO_DEV_CHAIN_ID=61997
CONTRACT_ADDRESS=
NEXT_PUBLIC_RECOURSE_RPC=https://studio-dev.genlayer.com/api
NEXT_PUBLIC_RECOURSE_CHAIN_ID=61997
NEXT_PUBLIC_RECOURSE_CONTRACT_ADDRESS=

